<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% if page.title %}{{ page.title | escape }} &ndash; {{site.title | escape}}{% else %}{{ site.title | escape }} &ndash; {{site.short | escape}}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif|Vast+Shadow">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?v={{ site.time | date_to_xmlschema }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">  
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-itouch-icon" href="/icon.png">
        <link rel="icon" type="image/png" href="/icon.png">
        <meta name="theme-color" content="#ae0020">
    </head>
    <body>
        <header>
            <h1>RHS Hour of Code</h1>
            <p>Welcome to the Hour of Code at Roswell High School</p>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/start/">Let's Get Started</a></li>
                    <li><a href="/thank-you/">Thank You</a></li>
                </ul>
            </nav>
        </header>
        <main>