<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <header>
            <h1>RHS Hour of Code</h1>
            <p>Welcome to the Hour of Code at Roswell High School</p>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/start/">Let's Get Started</a></li>
                    <li><a href="/thanks/">Thank You</a></li>
                </ul>
            </nav>
        </header>
        <main>