html {
    overflow-y: scroll;
}

body {
    font-family: 'Droid Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vast Shadow', Helvetica, sans-serif;
    font-weight: 400;
}

.RHS-navigation {
    text-align: center;
    background: #555 url(/darktexture.png);
    background-size: 50px auto;
    padding: 1.5rem 0;
    position: relative;
    box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 15px;
    -moz-box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 15px;
    -webkit-box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 15px;
    width: 100%;
    color: #fff;
    div {
        max-width: 615px;
        margin: 0 auto;
    }
    h1 {
        font-size: 42px;
        font-size: 2.625rem;
        line-height: 1.25;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
        a {
            color: #f2f2f2;
            &:hover {
                color: #f2f2f2;
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        margin-top: 1rem;
    }
    li {
        display: inline-block;
    }
    p {
        border-bottom: double 4px #606266;
        color: rgba(255,255,255, 0.7);
        font-size: 15px;
        font-size: 0.9375rem;
        padding-bottom: 8px;
    }
    a {
        color: #fff;
        padding:  0.5rem 1rem;
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: rgb(170, 170, 170);
            text-decoration: none;
            -webkit-transition: 0.2s ease-in;
            -moz-transition: 0.2s ease-in;
            -o-transition: 0.2s ease-in;
            transition: 0.2s ease-in;
        }
    }
}