@font-face {
    font-family: 'Typo Slab Serif';
    src: url('/fonts/TypoSlabserif-Light-webfont.eot');
    src: url('/fonts/TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TypoSlabserif-Light-webfont.woff') format('woff'),
         url('/fonts/TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('/fonts/TypoSlabserif-Light-webfont.svg#typoslabserif-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Droid Serif', Georgia serif;
    background: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Typo Slab Serif', 'Droid Serif', Georgia, serif;
    font-weight: 400;
}

.RHS-navigation div, .RHS-content div {
    max-width: 615px;
    margin: 0 auto;
}

.RHS-navigation {
    text-align: center;
    background: #555 url(/darktexture.png);
    background-size: 50px auto;
    padding: 1.5rem 0;
    position: relative;
    box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 15px;
    -moz-box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 15px;
    -webkit-box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 15px;
    width: 100%;
    color: #fff;
    div {
        max-width: 615px;
        margin: 0 auto;
    }
    h1 {
        font-family: 'Vast Shadow', Helvetica, sans-serif;
        font-size: 42px;
        font-size: 2.625rem;
        line-height: 1.25;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
        a {
            color: #f2f2f2;
            &:hover {
                color: #f2f2f2;
            }
        }
    }
    nav {
        margin-top: 2rem;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    p {
        border-bottom: double 4px #606266;
        color: rgba(255,255,255, 0.7);
        padding-bottom: 8px;
    }
    a {
        color: #fff;
        padding:  0.5rem 1rem;
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: rgb(170, 170, 170);
            text-decoration: none;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }
    }
    ul, p {
        font-size: 15px;
        font-size: 0.9375rem;
    }
}

.RHS-content {
    padding: 6.25rem 0;
    color: #555;
    h1 {
        text-align: center;
        border-bottom: 4px double #dfdfdf;
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 42px;
        margin: 0 0 20px;
        padding: 0 0 30px;
    }
    p {
        margin-bottom: 15px;
        margin-bottom: 0.9375rem;
        line-height: 1.325rem;
        font-size: 15px;
        font-size: 0.9375rem;
    }
}

.img-right {
    display: inline;
    float: right;
    margin: .75em 0 .75em 1.5em;
}
